.button {
  display: inline-block;

  padding: 15px 24px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 7px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #3e8e41;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: #2980b9;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 5px #3498db;
}

/*.centered-div {
  position: absolute;
  top:25%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.centered-div {
  margin: 0 auto;
  width: 69%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.vote-count{
  margin: 0 auto;
  width: 69%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toggle-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #2980b9;
}

.toggle-button:focus {
  outline: none;
  box-shadow: 0 0 5px #3498db;
}

#hidden-text {
  margin-top: 10px;
  padding: 10px;
  margin: 0 auto;
  width: 69%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}